option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: application:application
  aws:elasticbeanstalk:application:environment:
    FLASK_ENV: production
    PYTHONPATH: /var/app/current:$PYTHONPATH

container_commands:
  01_update_pip:
    command: "pip install --upgrade pip"
    ignoreErrors: true
  02_install_dependencies:
    command: "pip install -r requirements.txt"