option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: application:application
  aws:elasticbeanstalk:application:environment:
    FLASK_ENV: production
    PYTHONPATH: /var/app/current:$PYTHONPATH

container_commands:
  01_collect_info:
    command: "echo 'Application deployed successfully on Elastic Beanstalk.'"
    ignoreErrors: true
